$body-bg: #f8f8f8;
$tooltip-bg: rgb(85, 85, 85);
$white: #fff;
$light-gray: #cecece;
$bar-chart-line-dot-bg: #fd9200;
$grid-box-shadow: #865282;
$line-chart-stroke-bg: #c21e5b;
$bar-bg: #4eb3a9;
$bar-hover-bg: #2c968e;
$line-chart-stoke-bg: #800080;
$axis-font-color: 637c86;