<svg xmlns="http://www.w3.org/2000/svg" width="0px" height="0px" >
  <defs>
    <linearGradient id="pink-shade" x1="47%" y1="0%" x2="53%" y2="100%" >
      <stop offset="0%" style="stop-color:rgb(237,172,211);stop-opacity:1" />
      <stop offset="30%" style="stop-color:rgb(242,196,224);stop-opacity:1" />
      <stop offset="68%" style="stop-color:rgb(249,228,240);stop-opacity:1" />
      <stop offset="100%" style="stop-color:rgb(255,255,255);stop-opacity:1" />
    </linearGradient>
  </defs>
</svg>

<div class="layout">
  <app-chart-wrapper class="grid" [data]="dailyData" chartType="line"></app-chart-wrapper>
  <app-chart-wrapper class="grid" [data]="monthlyData" chartType="bar"></app-chart-wrapper>
</div>